@font-face {
    font-family: BYekan;
    src: url("../../../fonts/iranyekanwebregularfanum.eot");
    src: url("../../../fonts/iranyekanwebregularfanum.ttf") format("truetype"),
        url("../../../fonts/iranyekanwebregularfanum.woff")
            format("embedded-opentype");
}


/*
.container {
    background-color: #32353E !important;
} */


